{% extends 'kakeibo/base.html' %}
{% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'kakeibo:kakeibo_list' %}">
          TOP
        </a>
      </li>
      <li class="breadcrumb-item active">
        カテゴリ毎の合計金額割合
      </li>
    </ol>

    <div class="card mb-3">
      <div class="card-header">
        <h3><b>家計簿アプリ（カテゴリ毎の合計金額割合）</b></h3></div>
      <div class="card-body">
        <div class="chart_container">
          <canvas id='CircleChart' style="position: relative; height:1vh; width:1vw"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .chart_container {
    width: 640px;
    margin: auto;
  }
</style>
{% endblock content %}
